# Spin test example (DK)

In [3]:
%cd work/notebooks
import sys
sys.path.append('/home/jovyan/work/code')

[Errno 2] No such file or directory: 'work/notebooks'
/home/jovyan/work/notebooks

In [12]:
import numpy as np, pandas as pd
%load_ext autoreload
%autoreload 2

from maps_null_test import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Read in the component scores (i.e. the set of maps from which we will create the nulls)

In [9]:
scores_dk = pd.read_csv("../outputs/scores_dk.csv", index_col=0)
print(scores_dk.shape)
scores_dk.head()

(34, 3)

          0         1         2
1  0.003891 -0.001043  0.006489
2 -0.027211  0.004315 -0.009972
3  0.004218  0.015102 -0.001141
4  0.046988 -0.015012 -0.009495
5 -0.036813 -0.007071 -0.013166

Read in the maps we want to test the scores against

In [10]:
maps_dk = pd.read_csv("../data/brainchart_maps_dk.csv", index_col=0)
print(maps_dk.shape)
maps_dk.head()

(34, 7)

                              AD   ADHD    ANX    ASD    MCI    MDD    SCZ
bankssts                  -0.275  0.014  0.000 -0.010 -0.135 -0.008 -0.078
caudal anterior cingulate -0.110  0.036  0.001 -0.039 -0.023  0.009 -0.049
caudal middle frontal     -0.153 -0.002 -0.006 -0.033 -0.072 -0.011 -0.088
cuneus                    -0.032  0.016 -0.006  0.010 -0.026 -0.027 -0.066
entorhinal                -0.332  0.038 -0.010 -0.024 -0.226 -0.011 -0.055

Generate spins of the fsaverage sphere (do this once so we don't repeat it for every component)

In [14]:
generate_spins(n=10, save_name='test_10')
spins = np.load("../outputs/permutations/test_10.npy")
spins.shape

                            10
Saved spins to ../outputs/permutations/test_10.npy

Generated 1 blocks of 10 spins at density 41k

(81924, 10)

Use the spins to generate null models of the scores

Output is a numpy array with shape [n regions, n components, n spins]

In [17]:
generate_nulls_from_components(scores_dk, spins, atlas='dk', n=10)
nulls = np.load("../outputs/permutations/spin_10.npy")
nulls.shape

Generated 10 null spins of component 0

Generated 10 null spins of component 1

Generated 10 null spins of component 2
Saved null spins to ../outputs/permutations/spin_10.npy

(34, 3, 10)

Finally, do the null test of each map against each component

In [20]:
correlate_maps_with_null_scores(nulls, scores_dk, maps_dk)

    C   map         r         p         q
0   0    AD  0.517057  0.090909  0.381818
1   0  ADHD -0.423644  0.181818  0.477273
2   0   ANX  0.102270  0.636364  0.890909
3   0   ASD  0.473226  0.090909  0.381818
4   0   MCI  0.480764  0.090909  0.381818
5   0   MDD -0.284355  0.181818  0.477273
6   0   SCZ  0.003687  1.000000  1.000000
7   1    AD  0.141781  0.909091  1.000000
8   1  ADHD -0.133631  0.454545  0.734266
9   1   ANX  0.008781  1.000000  1.000000
10  1   ASD -0.274698  0.090909  0.381818
11  1   MCI  0.106849  1.000000  1.000000
12  1   MDD  0.216469  0.363636  0.734266
13  1   SCZ -0.239551  0.636364  0.890909
14  2    AD -0.405990  0.181818  0.477273
15  2  ADHD  0.065995  0.818182  1.000000
16  2   ANX -0.214241  0.454545  0.734266
17  2   ASD -0.084610  0.909091  1.000000
18  2   MCI -0.271727  0.454545  0.734266
19  2   MDD -0.124222  0.454545  0.734266
20  2   SCZ -0.433060  0.090909  0.381818